<div class="card">
  <div class="card-body">
    <h1 class="boop">Hello and Welcome to the About page!</h1>
    <p class="boop">Thanks for visting Listen and Lyrics</p>
    <p class="boop">Listen and Lyrics was designed and created by Charlotte Lokko, Elliot Barry and Godstime Osarobo</p>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h4 class="card-title">A little info</h4>
    <p class="card-text">Due to Spotify, you must log in to a Spotify account (doesn't need to be a premium account) to listen to the full track. </p>
  </div>
</div>