.searchy {
  display: block;
  width: 100%;

// text-align:center;
  margin: 0 auto;
}

.overflow {
  overflow: hidden;
  p {
    width: 1px;

    text-overflow: ellipsis;

    background: teal;
  }
}
// form{
//     .overflow {
//         width: 95%;
//         white-space: nowrap;
//         overflow: hidden;
//         text-overflow: ellipsis;
//     }
// }

.imageContainer {
  float: left;
  height: 50px;

  widows: 50px;
}

.roundbox {
  border-radius: 6px 6px 6px 6px;
}
.modal-title {
  margin: 0 auto;
}
.navbar-brand {
  font-weight: bold;
}
