.searchy{
    // text-align:center;
    margin: 0 auto;
    display: block;
    width: 100%; 

}

.overflow{
    overflow: hidden;
    p{
        background: teal;
        width: 1px;
        text-overflow: ellipsis;
    }
}
// form{
//     .overflow {
//         width: 95%;
//         white-space: nowrap;
//         overflow: hidden;
//         text-overflow: ellipsis;
//     }
// }

.imageContainer{ 
    widows: 50px; 
    height: 50px; 
    float:left;
}

.roundbox
{  
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px;  
  border-radius: 6px 6px 6px 6px;
}
.modal-title{
    margin:0 auto;
}
