<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/home">Listen & Lyrics</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarColor02"
    aria-controls="navbarColor02"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/home"
          >Home</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/main"
          >Tracks</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/favourites"
          >Favourites</a
        >
      </li>
    </ul>
    
    <ul class="navbar-nav">
      <li class="nav-item"><a class="nav-link" (click)="open(content)">Log In</a></li>
    </ul>
    <!--
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" (keyup) = "searchMusic()" type="text" placeholder="Search Music..." name="searchStr" [(ngModel)]="searchStr" #searchStr="ngModel"/>
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">
          Search
        </button>
      </form>
    -->
    <form>
      <input type= "text" name="searchStr" [(ngModel)]="searchStr" (keyup) = "searchMusic()" data-toggle="dropdown" class="form-control mr-sm-2"  placeholder="Search Tracks..." />
    </form>
      <div class="dropdown-menu" id="accountDropdown">
          <div class="px-4 py-3">
              <div class="div-group">
                  <label for="logemail">Email address</label>
                  <input type="email" class="div-control" id="exampleDropdowndivEmail1" placeholder="email@example.com">
              </div>
              <div class="div-group">
                  <label for="logpw">Password</label>
                  <input type="password" class="div-control" id="exampleDropdowndivPassword1" placeholder="Password">
              </div>
              <div class="div-check">
                  <label class="div-check-label">
                      <input type="checkbox" class="div-check-input"> Remember me
                  </label>
              </div>
              <button onClick="signOut()" class="btn btn-primary" onclick="login()">Sign in</button>
          </div>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item"  data-toggle="modal" data-toggle="modal" data-target=".bd-example-modal-lg" href="#">New around here? Sign up</a>
          <a class="dropdown-item" href="#">Forgot password?</a>
          <a class="dropdown-item" href="#">Favourites</a>
          <a class="dropdown-item" href="#">Log Out</a>
      </div>
   </div>
</nav>
 {% comment %} <ul class="navbar-nav nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Account</a>
                    <div class="dropdown-menu" id="accountDropdown">
                        <div class="px-4 py-3">
                            <div class="div-group">
                                <label for="logemail">Email address</label>
                                <input type="email" class="div-control" id="exampleDropdowndivEmail1" placeholder="email@example.com">
                            </div>
                            <div class="div-group">
                                <label for="logpw">Password</label>
                                <input type="password" class="div-control" id="exampleDropdowndivPassword1" placeholder="Password">
                            </div>
                            <div class="div-check">
                                <label class="div-check-label">
                                    <input type="checkbox" class="div-check-input"> Remember me
                                </label>
                            </div>
                            <button onClick="signOut()" class="btn btn-primary" onclick="login()">Sign in</button>
                        </div>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item"  data-toggle="modal" data-toggle="modal" data-target=".bd-example-modal-lg" href="#">New around here? Sign up</a>
                        <a class="dropdown-item" href="#">Forgot password?</a>
                        <a class="dropdown-item" href="#">Favourites</a>
                        <a class="dropdown-item" href="#">Log Out</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="jumbotron text-center">
                <h1>Cooking with Cocktails!!</h1>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="card" style="height: 16rem">
                            <div class="card-body">
                                <h3 class="card-title">Fancy some food? </h3>
                                <p class="card-text">Click our What's for Dinner? tab to start cooking away</p>
                                <button class="btn buto" onclick="$('#dinner-tab').trigger('click');">Go Cook!</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="card" style="height: 16em">
                            <div class="card-body">
                                <h3 class="card-title">How about a tasty drink?</h3>
                                <p class="card-text">Go ahead and click our Fancy a Cocktail? tab to mix up something tasty</p>
                                <button class="btn buto" onclick="$('#cocktail-tab').trigger('click');">Get mixin'</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="card" style="height: 16rem">
                            <div class="card-body">
                                <h3 class="card-title">Student Zone! </h3>
                                <p class="card-text">What's this you ask?</p>
                                <p class="card-text">It's a place to find tasty, quick and easy recipes. Perfect for beginners!</p>
                                <button class="btn buto" onclick="$('#student-tab').trigger('click');">Easy peasy cooking</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="card" style="height: 16rem">
                            <div class="card-body">
                                <h3 class="card-title">Submit Your Idea</h3>
                                <p class="card-text">Yes YOU!</p>
                                <p class="card-text">If you're a kitchen or cocktail extrodinaire why not share? </p>
                                <button class="btn buto" onclick="$('#submit-tab').trigger('click');">Share!</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <div class="tab-pane fade" id="dinner" role="tabpanel" aria-labelledby="dinner-tab">
            <div class="jumbotron text-center">
                <h1>What's for Dinner?? </h1>
            </div>
            <div class="card-columns" id="frecipes">

              </div>
        </div>

        <div class="tab-pane fade" id="student" role="tabpanel" aria-labelledby="student-tab">
            <div class="jumbotron text-center">
                <h1>Student Zone!! </h1>
            </div>
        </div>


        <div class="tab-pane fade" id="cocktail" role="tabpanel" aria-labelledby="cocktail-tab">
            <div class="jumbotron text-center">
                <h1>Cocktails cocktails!</h1>
            </div>
        </div>

        <div class="tab-pane fade" id="submit" role="tabpanel" aria-labelledby="submit-tab">
            <div class="jumbotron text-center">
                <h1>Share your secret!?</h1>
            </div>
        </div>
    </div>
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <h1 class="text-center">Sign Up!!</h1>
                    <div class="container" id="needs-validation" novalidate>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="validationCustom01">First name</label>
                                    <input type="text" class="div-control" id="fname" required> </div>
                                <div class="col-md-6 mb-3">
                                    <label for="validationCustom02">Last name</label>
                                    <input type="text" class="div-control" id="sname"required> </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="validationCustom03">Email</label>
                                    <input type="text" class="div-control" id="em"  required>
                                    <div class="invalid-feedback"> Please provide a valid email. </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="psw">Password</label>
                                    <input type="password" id="psw" class="div-control" aria-describedby="passwordHelpInline">
                                    <small id="passwordHelpInline" class="text-muted">Must be 8-20 characters long.</small>
                                </div>
                            </div>
                            <div class="row">
                                <button class="btn btn-secondary mx-auto" onclick="register()" type="submit">Sign Up!</button>
                            </div>
                        </div>
            </div>
        </div>
    </div> {% endcomment %}
  

<!--><ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="dateOfBirth">Date of birth</label>
        <div class="input-group">
          <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template> -->


