.card{
    margin-top: 5%;
}
.c1{
    margin-left: 10%;
    float: left;
    max-width: 25%;
    max-height: 480px;
    margin-top: 7.5%;
}
.c2{
    margin-right: 10%;
}
#please{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.tit{
    padding-bottom: 1%;
}
#lyrics{
    overflow-y: scroll;
    height: 550px;    
    
}