<div class="jumbotron">
    <h1 class="display-3">Listen & Lyrics: It's all in the name</h1>
    <p class="lead">Wanna sing? Or read along to your favourite tracks!?</p>
    <hr class="my-4">
    <p>Search up the top and then look below!</p>
    
  

</div>

  <div class = "card-group"> 

        <div class = "card"></div>
   <div class = "col-sm-4-scroll">
    <div class = "card">
        <div class = "card-body" id="lyrics" class="primary row no-gutters" style= "overflow-y: scroll; height: 440px;"></div>
    </div>
</div>
</div>




