<div class="card-deck">
    <div class="card c1">
        <div class="card-body">
            <h4 class="card-title tit">Listen</h4>
            <iframe  [src]="sanitizer.bypassSecurityTrustResourceUrl('https://open.spotify.com/embed/track/' + this.songId)" id="please" width="100%" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

        </div>
    </div>
    <div  class="card c2">
        <div id="lyricsScroll" class="card-body ">
            <h4 class="card-title">Lyrics</h4>
            <div id = "lyrics"></div>
        </div>
    </div>
</div>
