mat-icon .material-icons {
  vertical-align: middle;
}
.no-gutters {
  margin-left: 0;
  margin-right: 0;
}
.container-fluid {
  padding: 20px;
  .col-md-8 {
    .card.border-primary {
      margin: 1rem !important;
      width: 20rem;
      .card-header {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .card-body {
        padding: 0;
        height: 318px;
        .track-info,
        .user-info {
          display: table;
          table-layout: fixed;
          position: relative;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          padding: 1.25rem;
          width: 100%;
          height: 100%;
          text-align: center;
          p {
            text-align: center;
            display: table-row;
            span {
              display: table-cell;
              vertical-align: middle;
            }
          }
          .favourite {
            mat-icon {
              color: red;
            }
          }
          .rating {
            margin-bottom: 0;
            mat-icon {
              cursor: pointer;
              &.hover {
                color: yellow !important;
              }
              &.rated {
                color: yellow;
              }
            }
            p {
              width: 100%;
              text-align: center;
            }
          }
        }
      }
      label.btn.btn-primary {
        width: 100%;
      }
    }
  }

  .col-md-4.recommendations {
    margin: 0 auto;
    padding: 10px 0 0;
    height: 90vh !important;
    & > h4 {
      padding: 10px 0;
      border-top: thin solid white;
      border-bottom: thin solid white;
      text-align: center;
    }
    #recommendationScroll::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
      background-color: #f5f5f5;
    }
    #recommendationScroll::-webkit-scrollbar {
      width: 12px;
      background-color: #f5f5f5;
    }
    #recommendationScroll::-webkit-scrollbar-thumb {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
      background-color: #555;
    }
    #recommendationScroll {
      overflow-y: scroll;
      height: 90vh;
    }
    .recommendation {
      h5,
      h6 {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
