.card {
  margin: 0.5rem !important; // height: 30rem;
  // overflow: initial;
  // word-wrap: break-word;
}
.no-gutters {
  margin-left: 0;
  margin-right: 0;
}
.row {
  display: flex;
  justify-content: center;
}
.card-body {
  padding: 2rem;
  width: 100%;
  height: auto;
  overflow-y: hidden;
  overflow-x: auto;
}
.card-group {
  width: 100vw;
  height: auto;
}
.card-title {
  // width: 13rem;
  height: auto;
  word-wrap: break-word;
}
