.wrapper{
    text-align: center;
    border: transparent;
}

.Googlebut{
    background: transparent;
    color: transparent;
    border: transparent;
    position: flex;
    top: 50%;
   
}
.loginbutton{
    width:auto;
    height:40px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }