.wrapper {
  text-align: center;

  border: transparent;
}

.Googlebut {
  position: flex;
  top: 50%;

  color: transparent;

  background: transparent;
  border: transparent;
}
.loginbutton {
  width: auto;
  height: 40px;
}
.center {
  display: block;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}
